PWApplication/PWApplication/obj/
PWApplication/PWApplication/bin/Debug/netcoreapp3.1/appsettings.Development.json
PWApplication/PWApplication/bin/
PWApplication/.vs/PWApplication/v16/.suo
PWApplication/.vs/
PWApplication/PWApplication.BLL/bin/
PWApplication/PWApplication.BLL/obj/
PWApplication/PWApplication.DAL/bin/
PWApplication/PWApplication.DAL/obj/
PWApplication/PWApplication.Domain/bin/
PWApplication/PWApplication.Domain/obj/
