@model PWApplication.Models.User
@{
    ViewData["Title"] = "Home Page";
}


@if (Model != null)
{
    <p>@Model.UserName</p>
    <p>PW balance: @Model.Balance</p>

    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Transaction" asp-action="CreateTransaction">Create transaction</a>
    </div>
    
    <form method="post" asp-controller="Account" asp-action="Logout">
        <div>
            <input class="btn btn-primary" type="submit" value="Выход" />
        </div>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
