<EditForm Model="_createModel" OnSubmit="ValidSubmit">
	<DataAnnotationsValidator />
	<PWValidationErrors Errors="@_validationMessages"></PWValidationErrors>
	<ValidationSummary />
	<PWInputRow>
		<PWInputComponent Title="Recipient Name">
			<InputSelect class="form-select" name="RecipientName" @bind-Value="TransactionState.Value.Model.RecipientName">
				@foreach (var user in @TransactionState.Value.Model.Users)
				{
					<option value="@user">@user</option>
				}
			</InputSelect>
		</PWInputComponent>
	</PWInputRow>
	<PWInputRow>
		<PWInputComponent Title="Amount">
			<InputNumber name="Amount" class="form-control" @bind-Value="TransactionState.Value.Model.Amount" />
		</PWInputComponent>
	</PWInputRow>
	<PWSubmitButton Title="Create transaction" />
</EditForm>