<div class="col-md-6">
	<label class="form-label">@Title</label>
	@ChildContent
</div>

@code {
	[Parameter]
	public string Title { get; set; } = "";

	[Parameter]
	public RenderFragment? ChildContent { get; set; }
}
