@page "/"

@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Components.Routing;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components.Web
@using PWApplication.BLL.Services;
@using PWApplication.Domain.Models;
@inject NavigationManager _navigation;


<style>
    a {
        color: #00897B;
    }

        a.active {
            color: #004D40;
            font-weight: 700;
        }
</style>

<CascadingAuthenticationState>
    <AuthorizeView>  
        <Authorized>
            <div>
                <button @onclick="Logout">Logout</button>
            </div>        
    </Authorized>  
    <NotAuthorized> 
        <div>
            <p>Please signed in.</p>
            <NavLink href="login">Login</NavLink> |
            <NavLink href="register">Registration</NavLink>
        </div>
    </NotAuthorized>  
</AuthorizeView>  
</CascadingAuthenticationState>
 

@code {
    private void Logout(){
        _navigation.NavigateTo($"/logout", true);
    }
}
