<EditForm Model="_loginModel" OnSubmit="ValidSubmit">
    <Header>Login</Header>
    <DataAnnotationsValidator />
    <ul class="validation-errors" style="margin-bottom:0px">
        @foreach (var message in @LoginState.Value.Errors)
        {
            <li class="validation-message">@message.Description</li>
        }
    </ul>
    <ValidationSummary />
    <InputRow>
        <InputComponent Title="Email">
            <InputText id="email" class="form-control" @bind-Value="_loginModel.Email" />
        </InputComponent>
    </InputRow>
    <InputRow>
        <InputComponent Title="Password">
            <InputText type="password" id="password" class="form-control" @bind-Value="_loginModel.Password" />
        </InputComponent>
    </InputRow>
    <SubmitButton />
    <Button Title="Cancel" OnClickCallback="OnCancelClickCallback" />
</EditForm>
