@using AutoMapper;
@using System.Threading;
@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity;
@using PWBlazorApplication.Models;
@using PWApplication.BLL.Services;
@using PWApplication.BLL.Errors;
@using PWApplication.Domain.Models;

@inject IAccountService _accountService;
@inject NavigationManager _navigation;

<EditForm class="container" EditContext="editContext" OnSubmit="ValidSubmit">
    <h2>Register</h2>
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <InputText id="name" class="form-control" @bind-Value="registerModel.Name" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <InputText id="email" class="form-control" @bind-Value="registerModel.Email" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="registerModel.Password" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Confirm password</label>
        <div class="col-sm-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="registerModel.PasswordConfirm" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private RegisterModel registerModel = new RegisterModel();
    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    protected override void OnInitialized()
    {
        editContext = new(registerModel);
        messageStore = new(editContext);
    }

    private async void ValidSubmit()
    {
        messageStore.Clear();

        if (editContext == null || !editContext.Validate())
        {
            return;
        }

        var mapperConfig = new MapperConfiguration(cfg => cfg.CreateMap<RegisterModel, User>()
                   .ForMember("UserName", opt => opt.MapFrom(x => x.Name)));
        var mapper = new Mapper(mapperConfig);
        var user = mapper.Map<RegisterModel, User>(registerModel);
        var result = await _accountService.Register(user, registerModel.Password);

        if(result.Succeeded)
        {
            Guid key = Guid.NewGuid();
            var loginModel = new LoginModel()
                {
                    Email = registerModel.Email,
                    Password = registerModel.Password
                };
            BlazorCookieLoginMiddleware.Logins[key] = loginModel;
            _navigation.NavigateTo($"/login?key={key}", true);
        }
        else
        {
            foreach(var error in result.Errors)
            {
                messageStore.Add(() => registerModel.Email, error.Description);
            }
        }

        if (editContext.GetValidationMessages().Count() > 0)
        {
            editContext.NotifyValidationStateChanged();
        }
    }
}
