<div class="container">
    <PWHeader>Please signed in.</PWHeader>
    @if(_loginVisible)
    {
        <Login OnCancelClickCallback="@CancelLogin"></Login>
    }
    else if(_registrationVisible)
    {
        <Register OnCancelClickCallback="@CancelRegistration"></Register>
    }
    else
    {
        <PWButton Title="Login" OnClickCallback="Login" />
        <PWButton Title="Registration" OnClickCallback="Registration" />
    }
</div>
