<div class="container">
    <Header>Please signed in.</Header>
    @if(_loginVisible)
    {
        <Login OnCancelClickCallback="@CancelLogin"></Login>
    }
    else if(_registrationVisible)
    {
        <Register OnCancelClickCallback="@CancelRegistration"></Register>
    }
    else
    {
        <Button Title="Login" OnClickCallback="Login" />
        <Button Title="Registration" OnClickCallback="Registration" />
    }
</div>
